# Big Mac Activities
Let's take a look at a familiar data set (the cost of big macs around the world) and analyse it using Jupyter Notebook and Pandas. This skillset will **_directly_** link to your assessment task.

Complete each activity stipulated in the comments by looking at the *even-more-python-for-beginners* provided on GitHub.

## Series
Complete the following pandas Series following the instructions in the comments:

In [341]:
import pandas as pd

#Create a pandas Series which contains 'Australia', 'Britain', 'New Zealand' and 'United States' and store them on separate lines in a variable, 'countries'. 
anglosphere = pd.Series([
                      'Mruica', 
                      'New Zealand', 
                      'Wales', 
                      'Scotland', 
                      'England', 
                      'Australia'
                      ])


#Print the series
anglosphere

0         Mruica
1    New Zealand
2          Wales
3       Scotland
4        England
5      Australia
dtype: object

In [342]:
#Output Britain from the list using its index
anglosphere = pd.Series([
                      'Mruica', 
                      'New Zealand', 
                      'Wales', 
                      'Scotland', 
                      'England', 
                      'Australia'
                      ])



anglosphere[2]

'Wales'

In [343]:
#Iterate through all values in countries series using a for loop
anglosphere = pd.Series([
                      'Mruica', 
                      'New Zealand', 
                      'Wales', 
                      'Scotland', 
                      'England', 
                      'Australia'
                      ])



for value in anglosphere:
    print(value)

Mruica
New Zealand
Wales
Scotland
England
Australia

## DataFrame
Usually we work with two-dimensional arrays. We store them using **DataFrame** in pandas. 

### Activity
Let's use a DataFrame to store more meaningful values than our countries series. Let's store the following values in a Data Frame called 'big_mac':

**Headings:** Country, Local Price, AUD Price
- `'Australia', 7.45, 7.45`
- `'Britain', 4.19, 0.0`
- `'Japan', 450, 0.0`
- `'New Zealand', 7.1, 0.0`
- `'United States', 5.58, 0.0`

**NOTE:** You'll need to look online at current rates to convert Britain, New Zealand, Japan and United States' local prices to AUD.

In [344]:
#Add a pandas DataFrame called 'big_mac' with the above values
mcronalds = pd.DataFrame([
                        ['Asutralia', '7.45', '7.45'],
                        ['Britain', '4.19', 'nil'],
                        ['Japan', '450', 'nil'],
                        ['New Zealand', '7.1', 'nil'],
                        ['murics', '5.58', 'nil']
                        ],
                        columns = ['Name', 'City', 'Country']
                        )

mcronalds
#Print the DataFrame

          Name  City Country
0    Asutralia  7.45    7.45
1      Britain  4.19     nil
2        Japan   450     nil
3  New Zealand   7.1     nil
4       murics  5.58     nil

## Examining pandas DataFrames

In [345]:
#Print only the first two rows of the big_mac dataframe
mcronalds = pd.DataFrame([
                        ['Asutralia', '7.45', '7.45'],
                        ['Britain', '4.19', 'nil'],
                        ['Japan', '450', 'nil'],
                        ['New Zealand', '7.1', 'nil'],
                        ['murics', '5.58', 'nil']
                        ])

mcronalds.head(2)

           0     1     2
0  Asutralia  7.45  7.45
1    Britain  4.19   nil

In [346]:
#Print only the last four rows of the big_mac dataframe
mcronalds = pd.DataFrame([
                        ['Asutralia', '7.45', '7.45'],
                        ['Britain', '4.19', 'nil'],
                        ['Japan', '450', 'nil'],
                        ['New Zealand', '7.1', 'nil'],
                        ['murics', '5.58', 'null']  
                        ])

mcronalds.tail(4)

             0     1     2
1      Britain  4.19   nil
2        Japan   450   nil
3  New Zealand   7.1   nil
4       murics  5.58  null

In [347]:
#Print the number of rows and columns in the big_mac dataframe
mcronalds = pd.DataFrame([
                        ['Asutralia', '7.45', '7.45'],
                        ['Britain', '4.19', 'nil'],
                        ['Japan', '450', 'nil'],
                        ['New Zealand', '7.1', 'nil'],
                        ['murics', '5.58', 'nil']
                        ])

mcronalds.shape

(5, 3)

In [348]:
#Print some detailed information about the big_mac dataframe
mcronalds = pd.DataFrame([
                        ['Asutralia', '7.45', '7.45'],
                        ['Britain', '4.19', 'nil'],
                        ['Japan', '450', 'nil'],
                        ['New Zealand', '7.1', 'nil'],
                        ['murics', '5.58', 'nil']
                        ])

mcronalds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       5 non-null      object
 1   1       5 non-null      object
 2   2       5 non-null      object
dtypes: object(3)
memory usage: 252.0+ bytes

## Querying DataFrames
Let's explore how we request data from a pandas DataFrame.

In [349]:
#Request and output the 'Country' and 'AUD Price' columns from the big_mac DataFrame.
mcronalds = pd.DataFrame([
                        ['Asutralia', '7.45', '7.45'],
                        ['Britain', '4.19', 'nil'],
                        ['Japan', '450', 'nil'],
                        ['New Zealand', '7.1', 'nil'],
                        ['murics', '5.58', 'nil']
                        ],
                        columns = ['Country', 'AUD Price', 'Local Currency Price']
                        )

mcronalds[['Country', 'AUD Price']]

       Country AUD Price
0    Asutralia      7.45
1      Britain      4.19
2        Japan       450
3  New Zealand       7.1
4       murics      5.58

In [350]:
#Use iloc to request the third row, all columns
mcronalds = pd.DataFrame([
                        ['Asutralia', '7.45', '7.45'],
                        ['Britain', '4.19', 'nil'],
                        ['Japan', '450', 'nil'],
                        ['New Zealand', '7.1', 'nil'],
                        ['murics', '5.58', 'nil']
                        ],
                        columns = ['Name', 'City', 'Country']
                        )

mcronalds.iloc[:,2]

0    7.45
1     nil
2     nil
3     nil
4     nil
Name: Country, dtype: object

In [351]:
#Use iloc to request all rows, but just the 'Country' and 'AUD Price' columns
mcronalds = pd.DataFrame([
                        ['Asutralia', '7.45', '7.45'],
                        ['Britain', '4.19', 'nil'],
                        ['Japan', '450', 'nil'],
                        ['New Zealand', '7.1', 'nil'],
                        ['murics', '5.58', 'nil']
                        ],
                        columns = ['Name', 'City', 'Country']
                        )

mcronalds.iloc[:,0:2]

          Name  City
0    Asutralia  7.45
1      Britain  4.19
2        Japan   450
3  New Zealand   7.1
4       murics  5.58

In [352]:
#Use loc to do the same thing as the previous (Country and AUD Price all rows)
mcronalds = pd.DataFrame([
                        ['Asutralia', '7.45', '7.45'],
                        ['Britain', '4.19', 'nil'],
                        ['Japan', '450', 'nil'],
                        ['New Zealand', '7.1', 'nil'],
                        ['murics', '5.58', 'nil']
                        ],
                        columns = ['Name', 'City', 'Country']
                        )

mcronalds.loc[:,['Name','City']]

          Name  City
0    Asutralia  7.45
1      Britain  4.19
2        Japan   450
3  New Zealand   7.1
4       murics  5.58